<html>
  <head>
    <title>Message HTML Title</title>
    <link rel="stylesheet" href="./a.css">
  </head>
  <body>
    <div>
      <span>Message: </span>
      <h2>{{name}}</h2>
      <p style="color: aqua;">p#hijau</p>
      <img src="cid:icon.webp">
      <img src="cid:Vector5.png">
      {{!-- <p>warna</p>
      <p id="merah">wara hijau</p>
      <img src="/images/icon.webp" alt="icon" class="logo"> --}}
    </div>
  </body>
</html>

{{!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./a.css">
    <link 
    rel="stylesheet" 
    type="text/css"
    media="print"
    onload="this.media='all'" 
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap">
  </head>
  <body>
        <div class="root">
            <section>
                <div class="logo-wrapper">
                    <img src="./images/icon.webp" alt="icon" class="logo">
                    <div class="logo-text">
                        <h3>RPL-GDC</h3>
                        <p>Brainspark</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="content">
                        <h3>Halo {{name}}</h3>
                        <p>Terima kasih telah medaftar brainspark dengan tema <b>{{eventTheme}}</b> oleh <b>{{speaker}}</b></p>
                        <p>kamu bisa menghadiri acara ini pada:</p>
                        
                        <div class="table">
                            <table>
                                <tr>
                                    <th>Tanggal</th>
                                    <td>:</td>
                                    <td>{{date}}</td>
                                </tr>
                                <tr>
                                    <th>Jam</th>
                                    <td>:</td>
                                    <td>{{time}}</td>
                                </tr>
                                <tr>
                                    <th>Lokasi</th>
                                    <td>:</td>
                                    <td>
                                        {{#pf:if linkLocation.length ">" "1"}}
                                            <a href={{link}}>{{location}}</a>
                                        {{else}}
                                            <p>{{location}}</p>
                                        {{/pf:if}}  --}}
                                    {{!-- </td>
                                </tr>
                            </table>
                        </div>

                        <p>Kami harap kamu dapat menghadiri acara ini dan mendapat pengalaman berharga.</p>

                        <div class="sign">
                            <h4>Terimakasih</h4>
                            <p>RPL-GDC Laboratory</p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="decoration">
                <img src="./images/Vector 5.svg" class="decoration--left" alt="vector left bottom">
                <img src="./images/Vector 6.svg" class="decoration--right" alt="vector right top">
            </div>
        </div>
  </body>
</html> --}}